@(message: String){

@main("Scala-Lecter!!!") {

	<div id="container">
		<div id="panel">
			<div id="content">
				<form class="jqtransform">
					<div id="tipoOut">
						<div class="rowElem"><label>Tipo de salida:</label> 
							<input type="radio" id="archivo" name="q1" checked><label>Archivo</label>
							<input type="radio" id="inline" name="q1"><label>In-line</label>
						</div>
					</div>
				</form>
				<div id="subida">
					@helper.form(action = routes.Application.uploadFile, 'enctype -> "multipart/form-data") {
						<input type="file" name="fileUpload" >
						<p>
						<input type="submit" value="Upload">
						</p>
					}
				</div>
				<button id="enviar" class="enviarBot">Simplificar</button>
				<div textarea id ='link_In' cols='10' rows='4' name='txtArea'>@message</textarea></div>
				<div id="respuesta"></div>
			</div>
		</div>
	</div>

}

}