body{background-image:url(img/descarga.jpg);}
.enviarBot{
	background-image:url(img/accept.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border-color:transparent;
	height:34px;
	width:128px;
	position:absolute;
	top:78%;
	left:68%;
	opacity:0.6;
	z-index: 9999;
	border-radius:15px;
	font-style:bold;
	padding-left:5%;
	box-shadow: 2px 2px 1px gray;
	font-size: 0.9em;
}
.enviarBot:hover{
	opacity:1;
}
#container{	
	position:absolute;
	padding:1%;
	border:1px solid lightblue;
	width:40%;
	height:30%;
	top:15%;
	left:20%;
	border-radius:15px;
	background-color:lightblue;
}
#container #panel{
	border:1px solid green;
	width:100%;
	height:100%;
	border-radius:15px;
	background-color:white;
}
#panel #content{
	position:absolute;
	border:1px dotted lightblue;
	width:80%;
	height:68%;
	top:15%;
	left:10%;
	background-color:white;
	overflow:hidden;
}
#queryDiv{
	opacity:1;
}