
	<tbody>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="9">Jornada</span> 1</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="10">Jornada</span> 2</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="11">Jornada</span> 3</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="12">domingo</span>, 12 de <span data-scayt_word="enero" data-scaytid="14">enero</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="17">miércoles</span>, 15 de <span data-scayt_word="enero" data-scaytid="15">enero</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="13">domingo</span>, 19 de <span data-scayt_word="enero" data-scaytid="16">enero</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="18">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp; &nbsp;2 &nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp; &nbsp;0 &nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="21">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="22">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="23">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp; 2 &nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp; 2 &nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="19">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="20">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp; 1 &nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp; 4 &nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="25">HEREDIANO</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="26">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="27">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="28">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="24">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="30">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="31">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="32">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="36">ALAJUELENSE</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="33">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="37">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="38">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="34">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="35">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="42">CARTAGINÉS</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="44">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="43">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="45">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="46">SAPRISSA</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="47">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="48">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="49">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="50">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="51">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="52">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="53">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="54">ZELEDÓN</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="55">Jornada</span> 4</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="56">Jornada</span> 5</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="57">Jornada</span> 6</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="58">domingo</span>, 26 de <span data-scayt_word="enero" data-scaytid="59">enero</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="60">miércoles</span>, 29 de <span data-scayt_word="enero" data-scaytid="61">enero</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="62">domingo</span>, 09 de <span data-scayt_word="febrero" data-scaytid="69">febrero</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="63">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="64">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="65">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="73">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="75">BELÉN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="76">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="77">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="74">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="78">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="79">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="80">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="81">LIMÓN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="83">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="82">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="84">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="85">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="87">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="88">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="86">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="89">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="90">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="91">PUNTARENAS</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="93">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="92">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="94">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="95">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="96">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="97">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="98">HEREDIANO</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="99">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="100">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="101">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="102">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="103">Jornada</span> 7</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="104">Jornada</span> 8</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="105">Jornada</span> 9</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="106">miércoles</span>, 12 de <span data-scayt_word="febrero" data-scaytid="107">febrero</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="110">domingo</span>, 16 de <span data-scayt_word="febrero" data-scaytid="108">febrero</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="111">domingo</span>, 23 de <span data-scayt_word="febrero" data-scaytid="109">febrero</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="112">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="115">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="116">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="113">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="114">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="117">CARTAGINÉS</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="118">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="119">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="120">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="121">SAPRISSA</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="122">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="123">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="124">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="125">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="127">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="128">ZELEDÓN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="126">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="129">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="131">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="130">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="132">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="133">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="134">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					5</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="135">UCR</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="136">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="137">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="138">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="139">CARMELITA</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="140">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="141">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="142">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="143">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="144">LIMÓN</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="145">Jornada</span> 10</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="146">Jornada</span> 11</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="147">Jornada</span> 12</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="148">miércoles</span>, 26 de <span data-scayt_word="febrero" data-scaytid="149">febrero</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="150">domingo</span>, 02 de <span data-scayt_word="marzo" data-scaytid="156">marzo</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="151">domingo</span>, 09 de <span data-scayt_word="marzo" data-scaytid="157">marzo</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="158">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="161">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="159">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="162">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="160">BELÉN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="163">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="164">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="165">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="166">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="167">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="168">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="169">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					5</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="170">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="171">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="172">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="173">LIMÓN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="174">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="176">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="177">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="175">CARMELITA</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="178">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="179">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="180">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="181">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="182">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="183">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="184">UCR</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="185">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="186">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="188">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="189">PÉREZ</span>&nbsp;<span data-scayt_word="ZELEDÓN" data-scaytid="190">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="187">SAPRISSA</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="191">Jornada</span> 13</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="192">Jornada</span> 14</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="193">Jornada</span> 15</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="194">miércoles</span>, 12 de <span data-scayt_word="marzo" data-scaytid="195">marzo</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="198">domingo</span>, 16 de <span data-scayt_word="marzo" data-scaytid="196">marzo</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="199">domingo</span>, 23 de <span data-scayt_word="marzo" data-scaytid="197">marzo</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="200">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="203">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="204">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="205">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="201">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="202">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="206">UCR</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="207">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="208">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="209">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="210">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="212">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="213">ZELEDÓN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="211">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="214">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="215">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="216">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="218">SAPRISSA</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="217">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="219">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="220">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="222">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="221">CARTAGINÉS</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="223">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="224">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="225">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="227">ALAJUELENSE</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="226">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="228">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="230">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="231">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="232">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="229">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="233">Jornada</span> 16</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="234">Jornada</span> 17</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="235">Jornada</span> 18</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="236">miércoles</span>, 26 de <span data-scayt_word="marzo" data-scaytid="237">marzo</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="239">domingo</span>, 30 de <span data-scayt_word="marzo" data-scaytid="238">marzo</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="240">domingo</span>, 06 de <span data-scayt_word="abril" data-scaytid="257">abril</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="246">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="247">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="249">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="250">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="248">BELÉN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="251">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					5</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="258">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="259">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="260">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="261">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="262">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="263">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="264">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="265">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="266">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="268">HEREDIANO</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="267">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="269">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="271">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="272">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="273">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="270">PUNTARENAS</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="274">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="275">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="276">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="277">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="278">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="279">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="280">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="281">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="283">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="282">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="284">LIMÓN</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="285">Jornada</span> 19</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="286">Jornada</span> 20</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="287">Jornada</span> 21</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="288">miércoles</span>, 09 de <span data-scayt_word="abril" data-scaytid="289">abril</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="292">domingo</span>, 13 de <span data-scayt_word="abril" data-scaytid="290">abril</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="293">domingo</span>, 20 de <span data-scayt_word="abril" data-scaytid="291">abril</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="294">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="297">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="298">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="295">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="299">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="296">BELÉN</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="300">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="301">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="302">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="303">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="304">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="305">CARTAGINÉS</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="306">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="307">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="309">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="310">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="308">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="311">ALAJUELENSE</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="312">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="314">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="315">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="316">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="313">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="317">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					4</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="318">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="319">CARMELITA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="320">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="321">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="322">HEREDIANO</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="323">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="324">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="325">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="326">PUNTARENAS</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="Jornada" data-scaytid="327">Jornada</span> 22</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong>Semifinal Ida</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong>Semifinal <span data-scayt_word="vuelta" data-scaytid="332">vuelta</span></strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="328">miércoles</span>, 23 de <span data-scayt_word="abril" data-scaytid="329">abril</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="331">domingo</span>, 27 de <span data-scayt_word="abril" data-scaytid="330">abril</span> de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="miércoles" data-scaytid="337">miércoles</span>, 30 de <span data-scayt_word="abril" data-scaytid="338">abril</span> de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="BELÉN" data-scaytid="339">BELÉN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					URUGUAY</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="340">UCR</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="341">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="342">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					2</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="344">UCR</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PUNTARENAS" data-scaytid="345">PUNTARENAS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="LIMÓN" data-scaytid="346">LIMÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="347">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="348">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="349">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="350">HEREDIANO</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="HEREDIANO" data-scaytid="351">HEREDIANO</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARMELITA" data-scaytid="352">CARMELITA</span></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong>Final Ida</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong>Final <span data-scayt_word="Vuelta" data-scaytid="356">Vuelta</span></strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					SANTOS</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					3</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="UCR" data-scaytid="357">UCR</span></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="358">domingo</span>, 4 de mayo de 2014</strong></p>
			</td>
			<td colspan="4" nowrap="nowrap" style="height:19px;">
				<p align="center">
					<strong><span data-scayt_word="domingo" data-scaytid="359">domingo</span>, 11 de mayo de 2014</strong></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="360">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="PÉREZ" data-scaytid="361">PÉREZ</span> <span data-scayt_word="ZELEDÓN" data-scaytid="362">ZELEDÓN</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="363">ALAJUELENSE</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="376">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="378">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="ALAJUELENSE" data-scaytid="379">ALAJUELENSE</span></p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="CARTAGINÉS" data-scaytid="374">CARTAGINÉS</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					1</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					0</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					<span data-scayt_word="SAPRISSA" data-scaytid="375">SAPRISSA</span></p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td nowrap="nowrap" style="height:19px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
	</tbody>