body{
	background-color: #E0E0E0;
}
html,body{
	margin:0;
	padding:0;
}
body{
	font: 76% arial,sans-serif;
}
a{
	display:block; 
	color: blue;
}

header{
	border:1px solid grey;
	border-top-left-radius:.25em;
	border-top-right-radius:.25em;
	border-bottom-left-radius:.25em;
	border-bottom-right-radius:.25em;
}
div#h_title_escudo{
	position:absolute;
	width:30%;
	float:left;
	margin-left:-50%;
}
div#h_links{
	margin:10px auto 0 auto;
	display:flex;
	width:300px;
}
.h_link{
	padding-left: 5px;
	padding-right: 5px;
	width:100px;
	float:left;
}
header h1{
	height:100px;
	line-height:80px;
	margin:0;
	padding-left:10px;
}

div#wrapper{
	float:left;
	width:100%;
}


div#panel_view{
	margin:0 230px 0 230px;
	padding:0 0 3% 0;
	height:100%;
	min-height:300px;
	background-color:#99CC66;
}
div#panel_view_content p{line-height:1.4}
ul#p_v_tabs{
	background: linear-gradient( 0deg,#3399CC,#99CCFF);
	height:100px;
}

aside#functions{
	float:left;
	width:230px;
	margin-left:-100%;
}
div#functions_menu{
	background-color:white;
}
.f_option{
	font: 1.3em arial,sans-serif;
}
.f_option:hover{
	background-color:#86B404 !important;
	color:white !important;
}
.f_opt_flecha{
	margin-left:135px;
}
#funct_placeholder{
	background-color:grey;
}


aside#link_view{
	float:left;
	width:230px;
	margin-left:-230px;
}
div#link_header{
	margin:10%;
}
div#link_view_content{
	background:white;
}
div#link_placeholder{
	background-color:grey;
}


footer{background: #333;color: #FFF}
footer p{margin:0;padding:5px 10px}
footer a{display:inline;padding:0;color: #C6D5FD}
footer{clear:left;width:100%}



.roundBorder{
	border-top-left-radius:.30em;
	border-top-right-radius:.30em;
	border-bottom-left-radius:.30em;
	border-bottom-right-radius:.30em;
}
.notRender{
	display:none;
}

.aside_header{
	margin:10%;
}
.aside_header h2{
	text-align:center;
}