#table_equipos{
	font-family:Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
#table_equipos tr:nth-child(2n){
	background-color: #F2F2F2;
}
tr.t_cabecera th{
	background-color: #F2F2F2;
	padding:.50em .50em .50em .50em;
}
#table_equipos tr td.t_equipo{
	padding-right: 3em ;
	padding-left: 0 ;
	text-align:left;
}
.t_pos_real{
	margin:.25em .50em .25em .50em;
	padding:.25em .40em .25em .40em;
	background-color:#585858;
	color:white;
}
.t_pos_real:nth-child(2){
	background-color:#585858;
}
.t_pts{
	font-weight:bold;
}
#t_num_pos{
	padding:.50em 1em .50em 1em;
	background-color: #BDBDBD;
}

.selectedTeam {
	color:#0489B1;
}
.image{
	height:10px;
	width:10px;
}
td div.area_clasificacion {
	background-color:#0489B1;
}
