#tabla_equipos{
	margin-top:2em;
	font-family:Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
#tabla_equipos tr{
	font-size:smaller;
}
#tabla_equipos tr:nth-child(2n){
	background-color: #E6E6E6;
}
#t_cabecera th:nth-child(n+2){
	background-color: #E6E6E6;
	padding:.50em .50em .50em .50em;
}
#tabla_equipos tr td.t_equipo{
	padding-left: 0 ;
	text-align:left;
}
.t_pos_real{
	margin:.1em .2em .1em .2em;
	padding:.1em .15em .1em .15em;
	background-color:#585858;
	color:white;
}
.t_pos_real:nth-child(2){
	background-color:#585858;
}
.t_pts{
	font-weight:bold;
}
#t_num_pos{
	padding:.1em;
	background-color: #BDBDBD;
}

.selectedTeam {
	color:#0489B1;
}
.image{
	height:10px;
	width:10px;
}
td > div.area_clasificacion {
	background-color:#0489B1;
}

.notRender {
	display:none !important;
}
/*-------------------------------------*/
.chart{
    display: inline-block;
	margin-top:2em;
}
#panel_view{
	width: 100%;
	padding:0;
	text-align: center;
}
#selectCamp{
	float:center;
}