body{
	background-color: #E0E0E0;
}
html,body{
	margin:0;
	padding:0;
}
body{
	font: arial,sans-serif;
}
div#container{
    display: block;
	position:relative;
	z-index:99 !important;
}



/*HEADER*************************************/
header{
	padding:5px;
	padding-top:15px;
}
div#contTitle{
	float:left;
}
div#contTitle > h1#title{
	margin:0;
	padding:5px;
	padding-top:20px;
	width:250px;
}
div#contTitle > img#imgTitle{
	float:left;
	height:35px;
	width:50px;
	margin:10px;	
}
div#contImgLogin{
	float:right;
	max-width:430px;
}
div#contImgLogin > img#imgLogin{
	float:right;
	height:35px;
	width:50px;
	margin-top:5px;
	margin-right:0;
	margin-left:275px;
}
div#contImgLogin > div#contLogin{
	float:right;
	padding-left:5px;
}
div#contImgLogin > div#contLogin > form > input.field{
	height:1em;
	max-width: 100px;
}

div#h_links{
	float:center;
	margin-left:auto;
	margin-right:auto;
	max-width:235px;
}
div#h_links  > a{
	float:left;
	padding:0;
	margin-left:2px;
	margin-right:2px;
}
/*HEADER*************************************/



/*NAVEVADOR FUNCIONES IZQ********************/
/*NAVEVADOR LINKS DER************************/
nav#funciones{
	float:left;
}
aside#mislinks{
	float:right;
}	
aside#mislinks,
nav#funciones{
	width:15%;
}
nav#funciones > div#funciones_header,
aside#mislinks> div#mislinks_header{
	width:15%;
	max-height:40px;
	margin-left:20%;
	margin-right:20%;
}
nav#funciones > ul#funciones_content,
aside#mislinks > div#mislinks_content{
	background-color:white;
}
nav#funciones > ul#funciones_content > li > ul {
	position:relative;
	z-index:990 !important;
}

nav#funciones > ul#funciones_content > li > a:hover {
	background-color:#669900;
	color:white;
}
/*NAVEVADOR FUNCIONES IZQ********************/
/*NAVEVADOR LINKS DER************************/



/*SECTION CENTER********************/
section#wrapper{ 
	float:center;
	width:70%;
	margin-left:15%;
	margin-right:15%;
	position:relative;
    z-index: -1 !important;

}
section#wrapper > div#wrapper_tabs {
	min-height:400px;
	padding:0;
	background-color:#99CC66;
	background-image:URL("../images/soccer2.jpg");
	background-size:100%;
	background-repeat:no-repeat;
}
section#wrapper > div#wrapper_tabs >ul{
	padding-bottom:7%;
	background: linear-gradient( 0deg,#3399CC,#99CCFF);
}
div#panel_view{
	padding: 5px;
}
/*SECTION CENTER********************/
div#wrapper_tabs  > ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

div#wrapper_tabs  > ul li {
	float: left;
	position: relative;
}

div#wrapper_tabs >ul li a {
	background: linear-gradient( 0deg,#3399CC,#99CCFF);
	color: #fff;
	display: block;
	padding: 10px;
	margin-top: 7px;
	margin-left: 7px;
	text-decoration: none;
	border-radius:.30em;
	width:100px;
}

div#wrapper_tabs > ul > li > a:hover,
div#wrapper_tabs > ul li ul li a:hover,
ul#funciones_tabs > li  a:hover,
ul#funciones_tabs > li ul li a:hover  {
	background: #99CC66 !important;
	color:white !important;
}
div#panel_view {
	display:block;
}
/*=== submenu ===*/

div#wrapper_tabs  > ul ul {
	padding: 0px;
	margin: 0px;
	margin-left: 7px;
	display: none;
	list-style: none;
	position: absolute;
	z-index:990 !important;
}

div#wrapper_tabs > ul ul li {
	width: 153px;
	float: left;
	position: relative;
}

div#wrapper_tabs > ul ul a {
	background:white;
	margin: 0px;
	display: block;
	width:100px;
	height: 15px;
	padding: 7px 8px;
	color: black;
	text-decoration: none;
	border-radius:.15em;
	position: relative;
}


/*FOOTER********************/
footer{
	padding-bottom:0;
}
footer > div#facebook{
	background-color:#3B5998;
	margin:1px;
	width: 6em;
	height: 1em;
	overflow: hidden;
	color:white;
}
footer > div#facebook > img{
	width:2em;
	height:0.9em;
	float:left;
}
footer > div#facebook > div{
	float:left;
	height:0.9em;
	font-size:0.5;
}

/*CLASES EXPECIALES*****************/
.greyBorder {
	border-style:solid;
	border-width:1px;
	border-color:grey;	
}
.floatFit{
	min-height: 100%;
    overflow: hidden;
}
.roundBorder{
	border-radius:.30em;
}
.roundBorder_soft{
	border-radius:.15em;
}
/*************/
div#dialog-form{
	display:none;
}